/* ONLINE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Madimi+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* LOCAL FONTS */
@font-face {
  font-family: "SF UI Text";
  src: url("fonts/SFUIText-Regular.woff2") format("woff2"),
    url("fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("fonts/SFUIDisplay-Medium.woff2") format("woff2"),
    url("fonts/SFUIDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Display";
  src: url("fonts/SFUIDisplay-Bold.woff2") format("woff2"),
    url("fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.section-title {
  font-family: "SF UI Display", sans-serif;
  font-weight: bold;
  font-size: 225%;
  text-align: center;
}

.section-subtitle {
  font-family: "SF UI Text", sans-serif;
  font-size: 105%; /* Memperbesar ukuran font */
  color: #666; /* Warna teks */
  cursor: pointer;
}

.text-custom {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
}

/* Custom CSS for Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(199, 199, 199, 0.65);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-nav .nav-link {
  font-size: 15px; /* Mengubah ukuran font */
  font-family: "Averia Sans Libre", sans-serif; /* Mengubah jenis font */
  transition: all 0.45s; /* Efek transisi untuk hover */
  min-width: 130px;
  border-radius: 9px;
  text-align: center;
  padding: 5px 9px;
  margin: 5px 1vh;
  color: #323232;
  background-color: rgb(202, 202, 202);
}

.navbar-nav .nav-link:hover {
  color: white;
  background-color: darkcyan;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  font-weight: bolder;
  transition: 250ms ease;
}

.navbar-nav .nav-link:focus {
  transform: scale(0.95);
}

.dropdown-menu {
  background-color: rgb(196, 176, 176);
  z-index: 999;
}

.dropdown-item {
  font-family: "Averia Sans Libre", monospace;
  min-width: 130px;
  text-align: center;
}

.dropdown-item:hover {
  font-weight: bolder;
  transition: 250ms ease;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  background-color: darkcyan;
  color: #fff;
}

/* HERO */
.hero-bg-img {
  background-image: url();
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#hero h1 {
  letter-spacing: 2px;
}

#content {
  color: #2a2a2a;
}

#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.explore-btn {
  font-family: "SF UI Text", sans-serif;
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  background-color: darkcyan;
  color: aquamarine;
}

.explore-btn:hover {
  width: 200px;
  font-weight: bolder;
  transition: all 0.35s;
  color: azure;
  background-color: rgb(1, 110, 110);
}

.explore-btn:focus {
  transform: scale(0.95);
}

/* Tentang Kami */
#about {
  min-height: 100vh;
}

.about__setion-thumbnail {
  height: 240px;
  object-fit: cover;
}

.about__content-width {
  max-width: 456px;
  margin: 0 auto;
}

.about-us-bg-img {
  background-image: url();
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.aboutus {
  color: #323232;
}

.text-about-us h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
}

.text-about-us {
  font-family: "SF UI Text", sans-serif;
  text-align: justify;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  padding: 18px 12px;
  background-color: #231e1e96;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9px;
}

.carousel-item {
  min-width: 100%;
  height: 455px;
}

/* PENGURUS */
#collab-bg-img {
  background-image: url();
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

#collab-bg-img h2 {
  color: #323232;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}

#collab-bg-img p {
  color: #d4b4b4;
}

.intro {
  font-size: 16px;
  max-width: 100%;
  margin: 0 auto;
}

.intro p {
  margin-bottom: 0;
}

.people {
  padding: 20px 0;
  cursor: pointer;
}

.item {
  margin-bottom: 30px;
}

.item .box {
  border-radius: 7px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.95);
}

.item .box:hover {
  transition: 150ms ease;
  border: 3px solid rgba(109, 119, 119, 0.705);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.9);
}

.item .box-1 {
  height: 425px;
}

.item .box-2 {
  height: 335px;
}

.item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.75);
  transition: 250ms opacity 0.15s ease-in;
  opacity: 0;
  padding-top: 80px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
  font-family: "SF UI Display", sans-serif;
}

.item:hover .cover {
  opacity: 1;
}

.item .name {
  text-transform: capitalize;
  font-size: 155%;
  font-weight: bold;
  margin-bottom: 8px;
}

.item .title {
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.85rem;
  margin-bottom: 25px;
}

.item .box-1 .social {
  font-size: 2rem;
}

.item .box-2 .social {
  font-size: 175%;
}

.social a {
  color: inherit;
  margin: 30px 12px;
  display: inline-block;
  opacity: 0.75;
}

.social a:hover {
  opacity: 1;
  transform: translateY(-6px);
  transition: 0.3s ease-in-out;
  color: goldenrod;
}

/* SK DADI BARA */
#sk-dadibara {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sk-dadibara.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sk-dadibara iframe {
  width: 100%;
  max-width: 800px; /* Sesuaikan dengan kebutuhan Anda */
  height: 100vh; /* Tinggi diatur agar memenuhi seluruh tinggi viewport */
  border: 1px solid black;
}

/* Tambahkan media query untuk mode tablet/pad */
@media (min-width: 768px) and (max-width: 1024px) {
  #sk-dadibara iframe {
    height: 75vh; /* Sesuaikan tinggi untuk tablet/pad */
  }
}

/* FAQ */
#faq {
  min-height: 100vh;
}

.faq {
  background-color: #f8f9fa; /* Ganti dengan warna latar belakang yang diinginkan */
  min-height: 100vh; /* Menetapkan tinggi minimum 100vh untuk menyamakan dengan seluruh section */
  padding: 50px 0; /* Memberikan padding atas dan bawah */
}

.faq .section-title {
  font-family: "SF UI Display", sans-serif;
  font-weight: bolder;
  font-size: 2rem; /* Memperbesar ukuran font */
  color: #333; /* Warna teks */
}

.faq .section-subtitle {
  font-family: "SF UI Text", sans-serif;
  font-size: 1rem; /* Memperbesar ukuran font */
  color: #666; /* Warna teks */
  margin-bottom: 30px; /* Memberikan margin bawah */
}

.faq .text-center {
  color: #555;
  line-height: 1.6;
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important; /* Warna teks saat accordion terbuka */
  background-color: rgba(
    0,
    139,
    139,
    0.856
  ) !important; /* Warna background saat accordion terbuka */
  transition: background-color 0.3s ease; /* Transisi untuk perubahan warna background */
}

.accordion-button {
  font-family: "SF UI Display", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #262626; /* Warna teks default */
  background-color: rgba(199, 199, 199, 0.65) !important;
  transition: background-color 0.3s ease; /* Transisi untuk perubahan warna background */
}

.accordion-button:hover {
  background-color: rgb(149, 163, 182) !important;
  color: #2c2c2c !important;
}

.accordion-body {
  font-family: "SF UI Text", sans-serif;
  font-size: 1.1rem;
  color: #555;
  text-align: justify;
  line-height: 1.6;
  padding: 20px 40px; /* Memberikan padding lebih pada accordion body */
  background-color: #ffffff; /* Warna background pada accordion body */
}

.accordion-item {
  border: none; /* Menghapus border default */
  border-radius: 10px; /* Membuat border radius */
  overflow: hidden; /* Menyembunyikan overflow */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Menambahkan shadow */
  margin-bottom: 12px; /* Memberikan margin bawah pada setiap item */
}

.accordion-header {
  padding: 0; /* Menghapus padding default */
}

.accordion-button:focus {
  box-shadow: none; /* Menghapus shadow saat fokus */
}

.accordion-button:hover {
  background-color: #dcdcdc; /* Warna background saat hover */
}

/* Mengubah warna latar belakang dan teks dari accordion pertama */
#collapseOne {
  background-color: lightblue;
  color: navy;
}

/* Mengubah warna latar belakang dan teks dari accordion kedua */
#collapseTwo {
  background-color: lightgreen;
  color: darkgreen;
}

/* Mengubah warna latar belakang dan teks dari accordion ketiga */
#collapseThree {
  background-color: lightcoral;
  color: maroon;
}

/* Mengubah warna latar belakang dan teks dari accordion keempat */
#collapseFour {
  background-color: lightyellow;
  color: goldenrod;
}

/* CONTACT US */
#contact-us {
  background-image: url();
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
#contact-us h2 {
  letter-spacing: 1px;
  color: #323232;
  /* text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5); */
}

.alert-card {
  display: none;
  font-size: 18px;
  font-family: "JetBrains Mono", sans-serif;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.alert-success {
  background-color: #a2eebc;
  color: #123b1b;
  border: 1px solid #757875;
}

.alert-danger {
  background-color: #d0a1a5;
  color: #e7081f;
  border: 1px solid #ff0019;
}

iframe {
  border-radius: 12px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
}

/* Footer ngehe */
#footer-bg-img {
  background-image: url();
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

footer {
  position: relative;
  width: 100%;
  background-color: #414141;
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff5f4;
  bottom: 0;
}

.social-icons a {
  text-decoration: none;
}

footer p {
  font-size: 70%;
}

footer i {
  color: white;
  background-color: #556357;
  border-radius: 6px;
  font-size: 1vh;
  padding: 6px 7px;
  cursor: pointer;
}

footer a {
  color: #fff5f4;
  text-decoration: none;
}

footer i:hover {
  font-size: medium;
  color: black;
  background-color: white;
  transform: translateY(-4.5px);
  transition: 150ms;
}

/* Tambahan */
